<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feed.web.dao.MsgInfoDao">
	<resultMap type="feed.web.model.data.MsgInfoData" id="msgInfoDataMap">
		<result property="userName" column="user_name" javaType="string"></result>
		<result property="userId" column="user_id" javaType="int"></result>
		<result property="msgId" column="msg_id" javaType="int"></result>
		<result property="type" column="type" javaType="int"></result>
		<result property="content" column="content" javaType="string"></result>
		<result property="commentCount" column="comment_count" javaType="int"></result>
		<result property="transferCount" column="transfer_count" javaType="int"></result>
		<result property="timeStamp" column="time_t" javaType="int"></result>
		<result property="userAvatar" column="user_avatar" javaType="string"></result>
	</resultMap>

	<insert id="add" parameterType="feed.web.model.po.MsgInfoPo">
		insert into
		t_msg_info(
		user_id,
		msg_id,
		content,
		type,
		time_t
		) values(
		#{userId},
		#{msgId},
		#{content},
		#{type},
		#{timeStamp}
		<!--unix_timestamp(now()) -->
		)
	</insert>

	<select id="getMsgList" resultMap="msgInfoDataMap">
		SELECT
		info.user_id,
		info.msg_id,
		info.content,
		info.type,
		info.time_t,
		info.comment_count,
		info.transfer_count,
		uinfo.user_name,
		uinfo.user_avatar
		FROM t_msg_info info
		LEFT JOIN t_user_info uinfo ON uinfo.user_id = info.user_id
		LEFT JOIN t_user_msg_index mindex ON mindex.author_id = info.user_id
		AND mindex.msg_id = info.msg_id
		WHERE
			mindex.user_id = #{userId}
		ORDER BY
			mindex.time_t DESC
		LIMIT ${(index-1)*chunk},#{chunk}
	</select>
</mapper>