<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feed.web.dao.UserInfoDao">
	<resultMap id="userInfoMap" type="feed.web.model.po.UserInfoPo">
		<id property="userId" column="user_id" javaType="int"></id>
		<result property="userName" column="user_name" javaType="string"></result>
		<result property="userEmail" column="user_email" javaType="string"></result>
		<result property="msgCount" column="msg_count" javaType="int"></result>
		<result property="fansCount" column="fans_count" javaType="int"></result>
		<result property="followCount" column="follow_count" javaType="int"></result>
	</resultMap>

	<resultMap id="userInfoDataMap" type="feed.web.model.data.UserInfoData">
		<result property="userName" column="user_name" javaType="string"></result>
		<result property="msgCount" column="msg_count" javaType="int"></result>
		<result property="fansCount" column="fans_count" javaType="int"></result>
		<result property="followCount" column="follow_count" javaType="int"></result>
	</resultMap>


	<!-- 添加用户信息 -->
	<insert id="add">
		insert into
		t_user_info(user_name,user_pwd,user_email)
		values(#{userName},#{userPwd},#{userEmail})
	</insert>

	<!-- 根据用户名获取用户信息 -->
	<select id="get" parameterType="string" resultMap="userInfoMap">
		select * from
		t_user_info
		where user_name = #{userName}
	</select>

	<!-- 更新用户信息 -->
	<update id="update">
		update
		t_user_info
		set
		user_name = #{userInfo.userName}
		where user_id = #{_userId}
	</update>

	<!-- 粉丝数累加1 -->
	<update id="fansIncrement" parameterType="int">
		update
		t_user_info
		set
		fans_count = fans_count + 1
		where user_id = #{userId}
	</update>

	<!-- 粉丝数递减1 -->
	<update id="fansDecrement" parameterType="int">
		update
		t_user_info
		set
		fans_count = fans_count - 1
		where user_id = #{userId}
	</update>

	<!-- 关注数累加1 -->
	<update id="followIncrement" parameterType="int">
		update
		t_user_info
		set
		follow_count = follow_count + 1
		where user_id = #{userId}
	</update>

	<!-- 关注数递减1 -->
	<update id="followDecrement" parameterType="int">
		update
		t_user_info
		set
		follow_count = follow_count - 1
		where user_id = #{userId}
	</update>

	<!-- 更新用户消息数 -->
	<update id="msgCountIncrement">
		update
		t_user_info
		set
		msg_count = msg_count + 1
		where
		user_id = #{userId}
	</update>

	<!-- 获取当前用户消息数 -->
	<select id="getMsgCount" parameterType="int" resultType="int">
		select
		msg_count
		from
		t_user_info
		where user_id = #{userId}
	</select>

	<!-- 检验当前的用户名密码 -->
	<select id="checkAccount" resultType="int">
		select
		user_id
		from
		t_user_info
		where user_email = #{userEmail}
		and user_pwd = #{userPwd}
	</select>

	<!-- 统计当前用户表中指定email的个数 -->
	<select id="emailCount" resultType="int">
		select
		count(1)
		from
		t_user_info
		where user_email = #{userEmail}
	</select>

	<!-- 根据userId来统计数目 -->
	<select id="countById" resultType="int">
		select
		count(1)
		from
		t_user_info
		where user_id = #{userId}
	</select>

	<select id="getUserDataById" parameterType="int" resultMap="userInfoDataMap">
		select
		user_name,fans_count,follow_count,msg_count
		from t_user_info
		where user_id = #{userId}
	</select>

</mapper>
